#review .details .heading h1 {
	font-size: 5rem;
	text-align: right;
	color:#CCB202;
}

#review .details .synopsis {
	margin-top: 20px;
}

#review .details .synopsis p {
	text-align: end;
	margin: 15px;
	line-height: 22px;
	font-size: 18px;
	color: white;
}

@media (max-width: 767px) {
	#review .details .heading h1 {
		font-size: 2rem;
	}
}

#review .details h4, h5 {
	color: rgb(199, 183, 183);
	text-align: right;
	font-style: italic;
}

#review .details h5 {
	font-size: 14px;
}

.media > .pull-right.wall {
	margin-left: 30px!important;
}

#tweets {
	background: #34495e;
}

#tweets .row {
	margin: 20px 0; 
}

#tweets .tweet {
	padding: 2rem 1rem;
	border-radius: 6px;
}

#tweets .tweet.positive {
	background-color: rgb(149, 199, 133);
}

#tweets .tweet.negative {
	background-color: rgb(238, 77, 77);
}

#tweets .tweet.neutral {
	background-color: rgb(158, 141, 141);;
}



#tweets .tweet p {
	text-align: left;
	font-size: 16px;
	color: white;
}

#tweets .tweet .meta {
	margin-bottom: 10px;

}

#tweets .tweet .meta p {
	font-size: 14px;
	color: rgb(201, 196, 196);
	margin: 0;
}

#tweets .tweet.positive .meta p {
	font-size: 14px;
	color: rgb(12, 153, 12);
}

#tweets .tweet.negative .meta p {
	font-size: 14px;
	color: rgb(133, 21, 21);
}


#tweets .row:nth-child(odd) .user_image {
	float: left;
	margin-right: 30px;
}

#tweets .row:nth-child(even) .user_image {
	float: right;
	margin-left: 30px;
}

#tweets .row:nth-child(odd) .tweet p {
	text-align: left;
	padding-left: 90px;
}

#tweets .row:nth-child(even) .tweet p {
	text-align: right;
	padding-right: 90px;
}

#tweets .tweet .user_image img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
}